html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #212527;
  color: #9fb2b9;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  width: 100%;
  margin: 2em auto 0;
}
.card {
  background: #337590;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  border-radius: 1em;
  margin-bottom: 2em;
}
p,
h3 {
  margin: 0;
}
h3 {
  margin-left: 1em;
  margin-top: 0.5em;
}
span {
  width: 5em;
  height: 5em;
  background: #75a2b8;
  border-radius: 50%;
}

/* 

 Your fixes below:
 
 My solution included using the following properties:  
 width, background, padding, margin,
 text-transform, font-size, letter-spacing & color
 
*/

.container {
  width: 90%;
}

.card {
  background-color: #2c3031;
  padding: 1.5rem;
}

p.date {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  color: #788587;
  margin-bottom: 0.4rem;
}

h3 {
  margin: 0 0 0.3rem;
  color: #b6eaff;
  font-size: 1.8rem;
}
